* {
    font-family: 'Itim', cursive;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ปรับภาพให้เต็มพื้นที่ */
}

/* ปรับปรุง Background ของ Carousel */
.carousel-image-1 {
    background-image: url('image/pic1.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-image-2 {
    background-image: url('image/pic2.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-image-3 {
    background-image: url('image/pic3.jpg');
    background-size: cover;
    background-position: center;
}

/* ปรับปรุง About Section */
#about {
    min-height: 200px;
    position: relative;
    background-image: url("image/iceland-5586225_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

/* ปรับขนาดรูปสินค้าให้เท่ากัน */
.img-fixed {
    width: 100%;
    height: 250px; /* ปรับความสูงให้เท่ากัน */
    object-fit: cover; /* ทำให้ภาพเต็มพื้นที่โดยไม่ผิดสัดส่วน */
    border-radius: 10px; /* เพิ่มความโค้งมนให้สวยขึ้น */
}
